<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <title>Trabajo Final</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico?v=2">

</head>

<body>

    <header id="inicio">
        <nav class="menu">

            <div class="logo">

                <img class="img_form" src= "../assets/images/iconoModel_canva2-sinFondo.png" alt="">
                
                <ul class="lista">
                    <li><a class="enlace" href="#" >Inicio</a></li>
                    <li><a class="enlace" href="./productos.html">Productos</a></li>
                    <li><a class="enlace" href="./presupuesto.html">Formulario</a></li>
                    <li><a class="enlace activo" href="#">Contacto</a></li>
                </ul>
            </div>
        </nav>

    </header>    

    <main>
        

        <section class="dat_cont" id="dat_cont">
            <!--<div class="bisel_arriba"></div>-->
            <div class="transp_cont"></div>
            <div class="sobreponer_img">
                <div class="container_cont">
                    <div class="da_contact">
                        <h2>DATOS DE CONTACTO</h2>
                        <hr>
                    </div>
                    <div class="nombre_contacto">
                        <p >Model8 LLC<p>
                    </div>

                    <div class="cont_map_contact">

                        <div class="map_contact">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.7614368115296!2d-3.605944023546533!3d37.18214004607569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fcea465e8217%3A0x76d04813863dc9e7!2sC.%20Fuente%20Nueva%2C%2018001%20Granada!5e0!3m2!1ses!2ses!4v1692175858079!5m2!1ses!2ses" 
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"
                        </div> 
                    </div>
                        
                    <div class="cuadro_contacto">

                        <div class="datos">
                            <div class="direction" >
                                <p class="palabra_d"><span>DIRECCIÓN </span></p>   
                                <p class="lugar"> Calle Fuente Nueva 18001 Granada</p        >
                            </div>

                            <div class="telefono" >
                                <p class="palabra_t"><span>TELÉFONO </span></p>   
                                <p class="num_t" >000 00 00 00</p>
                            </div>
                        
                            <div class="email_contact"> 
                                <p class="palabra_e"><span >EMAIL</span></p> 
                                <p >
                                    <a href="mailto:aleidymachado@gmail.com">Has clic aquí para enviarnos un correo</a>
                                </p>
                            </div>

                        </div>

                    </div>  
                </div>
            </div>

        </section>

</main>

<footer>
    <div class="contenedor_footer">

        <div class="contenedor_foot">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/model8-llc-194aa7284/">
                <img class="img_linkedin"  src="../assets/images/icono_linkedin_c.png" alt="icono de linkedin"></a>
            </div>
        
            <div class="sourceForge">
                <a href="https://sourceforge.net/u/model8/profile/">
                <img class="img_sourceForge" src="../assets/images/icono_sourceForge.png" alt="icono de sourceForge"></a>
            </div>
        
            <div class="mastodon">
                <a href="https://mastodon.social/@model8">
                <img class="img_mastodon" src="../assets/images/icono_mastodon.png" alt="icono de mastodon"></a>
            </div>
        

        </div> 


        <div class="contenedor_foot">
            <h4>Teléfono</h4>
            <p>00000000</p>
        </div>

        <div class="contenedor_foot">
            <h4>Email</h4>
            <p>aleidymachado@gmail.com</p>
        </div>

        <div class="contenedor_foot">
            <h4>Dirección</h4>
            <p>Calle Fuente Nueva - Granada España</p>
        </div>

        <div class="contenedor_foot">
            <h4><a href="#">Aspectos legales</a></h4>
            <p></p>
        </div>

    </div>
    <h2 class="titulo_final">&copy;Model8 LLC -23 | Todos los derechos reservados</h2>
</footer>
</body>

</html>