<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <title>Trabajo Final</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico?v=2">

</head>

<body>

    <header id="inicio">
        <nav class="menu">

            <div class="logo">

                <img class="img_form" src= "../assets/images/iconoModel_canva2-sinFondo.png" alt="">
                
                <ul class="lista">
                    <li><a class="enlace" href="../index.html" >Inicio</a></li>
                    <li><a class="enlace activo" href="#">Productos</a></li>
                    <li><a class="enlace" href="./presupuesto.html">Formulario</a></li>
                    <li><a class="enlace" href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </header>    
    <main>
    
        <section class="about_services">
          <div class="contenedor">
            <h2 class="titulo">Nuestros servicios</h2>
            <div class="servicios_cont">
                <div class="servicios_ind">
                    <img src="../assets/images/artificial-intelligence10.jpg" 
                    alt="Imagen de una red de un ordenador con la siglas AI">
                    <h3>Ciencia de datos</h3>
                    <p>Construcción de modelos(now casting for casting),analítica de negocios,
                        inteligencia de negacios.</p>
                </div>

                <div class="servicios_ind">
                    <img src="../assets/images/petrofísica.png" alt="Imagen de unas torres petroleras">
                    <h3>Geofísica </h3>
                    <p>Evaluación petrofísica, evaluación sísmica 2D 3D,constrrucción de modelo estático.</p>
                </div>

                <div class="servicios_ind">
                    <img src="../assets/images/sig2.jpg" alt=" Imagen satelital">
                    <h3>SIG</h3>
                    <p>Análisis de imágenes satelitales e integración de la información 
                        recopilada con otras fuentes.</p>
                </div>
            </div>
          </div>  

        </section>
        


    
    </main>

    <footer>
        <div class="contenedor_footer">

            <div class="contenedor_foot">
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/model8-llc-194aa7284/">
                    <img class="img_linkedin"  src="../assets/images/icono_linkedin_c.png" alt="icono de linkedin"></a>
                </div>
            
                <div class="sourceForge">
                    <a href="https://sourceforge.net/u/model8/profile/">
                    <img class="img_sourceForge" src="../assets/images/icono_sourceForge.png" alt="icono de sourceForge"></a>
                </div>
            
                <div class="mastodon">
                    <a href="https://mastodon.social/@model8">
                    <img class="img_mastodon" src="../assets/images/icono_mastodon.png" alt="icono de mastodon"></a>
                </div>
            

            </div> 


            <div class="contenedor_foot">
                <h4>Teléfono</h4>
                <p>00000000</p>
            </div>

            <div class="contenedor_foot">
                <h4>Email</h4>
                <p>aleidymachado@gmail.com</p>
            </div>

            <div class="contenedor_foot">
                <h4>Dirección</h4>
                <p>Calle Fuente Nueva - Granada España</p>
            </div>

            <div class="contenedor_foot">
                <h4><a href="#">Aspectos legales</a></h4>
                <p></p>
            </div>

        </div>
        <h2 class="titulo_final">&copy;Model8 LLC -23 | Todos los derechos reservados</h2>
    </footer>
</body>

</html>